@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Dosis');

body {
  background-color:#eefc3a;  
  text-align: center;
}

html {
  font-size: 16px;
}

h1 {
  font-family :  Share Tech Mono;
} 

h2 {
  font-family :  Share Tech Mono;
}

h3 {
  font-family :  Share Tech Mono;
}

h4 {
  font-family :  Share Tech Mono;
} 

.App {
  text-align: center;
  background-color: #eefc3a; 
  min-height: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.navBar {
  height : 80px;
  background-color: #000000; 
  margin-top : -20px; 
} 

.navTitle {
  height : 80px;
  line-height : 80px;
  font-family : Dosis;
  font-size : 2rem;
  margin-top: -10px;
} 
 
.titleImageText {
  height : 60px; 
  margin-top : -20px;
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  flex-wrap: nowrap;
  align-items: center;
  background-color: #eefc3a; 
}

.titleImageText > div {
  background-color: black;
  color: white;
  width: 20%;
  margin: 0px;
  height: 60px;
  text-align: center;
  line-height: 0px; 
  font-size: 20px; 
  border-left: 0px;
  border-bottom: 0px;
}

.titleImageText>div:hover{
  background-color: grey;
}

 .faSize{
  width: 40px;
  height: 40px;
  color: white;
  margin-top: 5px;
  font-family : Dosis;
 }
 
.errorMsg{
  font-family: Dosis;
  font-size: 1.5rem;
  color: black;
}

 .scrnInput {
  background-color : grey; 
  width: 60%;
  margin: 0 auto;
  margin-top: -22px; 
  border-bottom: 0px;
  padding-bottom: 25px; 
 }

 .inputHeading { 
  display: inline-block;
  position: relative;
  top: 90px;  
 }

 .form-image {
  margin-top: 25px;
 }
 
 .submitBtn {
  border: 1px solid white;
  width: 80px;
  border-radius: 25px;
  height: 30px;
  display: block;
  position: relative;
  margin-left: auto;
  background-color: black;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px; 
 }

 *:focus {
  outline: none;
 }
 
 .submitBtn h2 {
  margin-top: -1px;
  color: white;
  font-family: Dosis;
 }

.tbButtonContainer {
  width : 25%;
  height : 40px; 
  margin-bottom: 20px;
}

.progressBar {
  height: 30px;
  background-color: black;
  width: 100px;
  border-radius: 25px;
  border : 1px solid white;
  color: white;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  display: block;
}

.progressBar:hover {
  cursor: pointer;
}

.progressBar h2 {
  margin-top: -3px;
  color: white;
  font-family: Dosis;
  display: block;
  font-size: 1.55rem;
}




 
@media (min-width: 569px) and  (max-width: 768px) {
  .navBar {
    height : 65px;
  }
  .navTitle {
    line-height: 65px;
    height : 65px;
    font-size : 1.75rem;
  } 
  .titleImageText {
    height : 50px;
    margin-top : -10px; 
  }
  .titleImageText > div {
    height: 50px;
  } 
  .faSize{
    width: 30px;
    height: 30px;
    color: white;
    font-family : Dosis;
   }
} 

@media (min-width: 321px) and (max-width: 568px) {
  .navBar {
    height : 55px;
  } 
  .navTitle {
    line-height: 55px;
    height : 55px;
    font-size : 1.55rem;
  }
  .titleImageText {
    height : 35px;
    margin-top : -10px; 
  }
  .titleImageText > div {
    padding-top: 5px;
    margin-top : 5px;
    height: 35px;
  } 
  .faSize{
    width: 30px;
    height: 25px;
    color: white; 
    font-family : Dosis;
   }
} 
 


