@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Ubuntu+Mono');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.navBar {
  height : 80px;
  background-color: #000000; 
  margin-top : -20px;
} 

.navTitle {
  height : 80px;
  line-height : 80px;
  font-family : Share Tech Mono;
  font-size : 2rem;
}

@media (min-width: 569px) and  (max-width: 768px) {
  .navBar {
    height : 65px;
  }
  .navTitle {
    line-height: 65px;
    height : 65px;
    font-size : 1.75rem;
  }

} 

@media (min-width: 321px) and (max-width: 568px) {
  .navBar {
    height : 55px;
  } 
  .navTitle {
    line-height: 55px;
    height : 55px;
    font-size : 1.55rem;
  }
} 

@media (min-width: 200px) and (max-width: 320px) {
  .navBar {
    height : 45px;
  } 
  .navTitle {
    line-height: 45px;
    height : 45px;
  }

} 


