@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Ubuntu+Mono');

body {
  background-color:grey; 
  text-align: center;
}

.App {
  text-align: center;
  background-color: #eefc3a; 
  min-height: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.navBar {
  height : 80px;
  background-color: #000000; 
  margin-top : -20px;
} 

.navTitle {
  height : 80px;
  line-height : 80px;
  font-family : Share Tech Mono;
  font-size : 2rem;
  margin-top: -10px;
}

.titleImageText {
  height : 60px; 
  margin-top : -20px;
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  flex-wrap: nowrap;
  align-items: center;
  background-color: #eefc3a; 
}

.titleImageText > div {
  background-color: black;
  color: white;
  width: 20%;
  margin: 0px;
  height: 60px;
  text-align: center;
  line-height: 0px; 
  font-size: 20px; 
}

.titleImageText>div:hover{
  background-color: grey;
}

 .faSize{
  width: 40px;
  height: 40px;
  color: white;
  margin-top: 5px;
  font-family : Share Tech Mono;
 }

 .scrnInput {
  background-color : grey; 
  width: 60%;
  margin: 0 auto;
  margin-top: -22px;
 }

 .inputHeading { 
  display: inline-block;
  position: relative;
  top: 90px;
 }
 
 .submitBtn {
  border: 1px solid white;
  width: 80px;
  border-radius: 25px;
  height: 30px;
  display: block;
  position: relative;
  margin-left: auto;
  background-color: black;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px; 
 }

 *:focus {
  outline: none;
 }
 
 .submitBtn h2 {
  margin-top: 1px;
  color: white;
  font-family: Share Tech Mono;
 }

@media (min-width: 569px) and  (max-width: 768px) {
  .navBar {
    height : 65px;
  }
  .navTitle {
    line-height: 65px;
    height : 65px;
    font-size : 1.75rem;
  } 
  .titleImageText {
    height : 50px;
    margin-top : -10px; 
  }
  .titleImageText > div {
    height: 50px;
  } 
  .faSize{
    width: 30px;
    height: 30px;
    color: white;
    font-family : Share Tech Mono;
   }
} 

@media (min-width: 321px) and (max-width: 568px) {
  .navBar {
    height : 55px;
  } 
  .navTitle {
    line-height: 55px;
    height : 55px;
    font-size : 1.55rem;
  }
  .titleImageText {
    height : 35px;
    margin-top : -10px; 
  }
  .titleImageText > div {
    padding-top: 5px;
    margin-top : 5px;
    height: 35px;
  } 
  .faSize{
    width: 30px;
    height: 25px;
    color: white; 
    font-family : Share Tech Mono;
   }
} 
 


